@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@fontsource/ubuntu/index.css";


:root, body {
    margin: 0;
    --black: #2D2727;
    --slate: #413543;
    --brightpurple: #8F43EE;
    --lightpurple: #C5B0CD;
    --cream: #F3E2D4;
    --orange: #FA812F;
    --terminalgreen: #33a71c;
    --red: #c5152a;
    background: var(--black);
    color: var(--cream);
}